.game__background {
  width: 100%;
  height: 100%;
  padding-top: 240px;
  border: 1px solid pink;
  background-image: url('/src/resources/environment/office-run-1.png');
  background-size: 10000px;
  background-repeat: no-repeat;
  animation: sceneMovement 15s linear infinite;
}

@keyframes sceneMovement {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 10% 0%;
  }
  20% {
    background-position: 20% 0%;
  }
  30% {
    background-position: 30% 0%;
  }
  40% {
    background-position: 40% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  60% {
    background-position: 60% 0%;
  }
  70% {
    background-position: 70% 0%;
  }
  80% {
    background-position: 80% 0%;
  }
  90% {
    background-position: 90% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}