@use './variables' as *;
@use './components' as *;


.game__instructions{
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 5%;
  padding-top: 50px;
  color: $color-primary;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;

  .game__title {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 35px;
    text-align: center;
  }

  .game__instructions-content {
    margin-top: 20px;
    font-size: 20px;
    font-family: $font-secondary;
    padding: 5px 30px;
    letter-spacing: 2px;
    line-height: 25px;
    color: $color-secondary;
  }  
}

.game__start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 30%;
  width: 263px;
  height: 200px;
  color: black;
  background-image: url('../images/game-screen.jpeg');
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: 5px 5px 2px;

    p {
      font-family: $font-primary;
      font-size: 12px;
      letter-spacing: 2px;
      background: linear-gradient(to bottom, $color-gradient-one, $color-gradient-two);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}

