@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');


/////// FONTS ///////
$font-primary: 'Press Start 2P';
$font-secondary: 'DotGothic16';


//////// COLOURS /////
$color-primary: #f0f8ff;
$color-secondary: #f5f5dc;
$color-button-hover: #ff4d00;
$color-button-active: #08c501;
$color-gradient-one: #ff4d00;
$color-gradient-two: #ffbf00;