@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');


/////// FONTS ///////
$font-primary: 'Press Start 2P';
$font-secondary: 'DotGothic16';


//////// COLOURS /////
$color-primary: rgb(240, 248, 255);
