@use './animations' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.game__container {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: darken(rgb(0, 0, 0), $amount: 0);
  width: 720px;
  height: 300px;
  border-bottom: 2px dashed gray;
}



#hero {
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.hero__container {
  border: solid red 1px;
  height: 50px;
  width: 200px;
}